@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}

:root {
    --rosa-escuro: #d509a0;
    --rosa-claro: #ff606e;
    --preto: #111;
    --branco: #fff;
    --fonte-padrao: 'Poppins', sans-serif;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
}

.logo img {
    max-width: 100px;
}

.toggle {
    position: relative;
    background: url('/assets/img/menu.png');
    width: 30px;
    height: 30px;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.secao {
    background: linear-gradient(to bottom, #d509a0, #ff606e);
    width: 100%;
    min-height: 100vh;
    padding: 100px 100px 0;
}

.secao::before {
    content: 'ZOOMX';
    font-size: 20vw;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.1);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
}

.conteudo {
    position: relative;
    width: 100%;
   margin-top: 40px;
}

.conteudo .boxImg {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}

.conteudo .boxImg img {
    max-width: 100%;
}