@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --rosa-escuro: #d509a0;
    --rosa-claro: #ff606e;
    --preto: #111;
    --branco: #fff;
    --fonte-padrao: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: var(--rosa-claro);
}